TicketManagement/TicketManagement.Web/Connected Services/SeatService/SeatService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/SeatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" />
  <xs:element name="GetSeats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetSeatsResult" nillable="true" type="q1:ArrayOfSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetSeatResult" nillable="true" type="q2:Seat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="entity" nillable="true" type="q3:Seat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSeatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="entity" nillable="true" type="q4:Seat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>