TicketManagement/TicketManagement.Web/Connected Services/SeatService/SeatService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/SeatService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions.Base" />
  <xs:complexType name="ArrayOfSeat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Seat" nillable="true" type="tns:Seat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeat" nillable="true" type="tns:ArrayOfSeat" />
  <xs:complexType name="Seat">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Seat" nillable="true" type="tns:Seat" />
  <xs:complexType name="SeatWithSameRowAndNumberInTheAreaExistException">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions.Base" base="q1:WcfException">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SeatWithSameRowAndNumberInTheAreaExistException" nillable="true" type="tns:SeatWithSameRowAndNumberInTheAreaExistException" />
</xs:schema>