TicketManagement/TicketManagement.Web/Connected Services/SeatService/SeatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISeatContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/SeatService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/SeatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/SeatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/SeatService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/SeatService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions.Base" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/SeatService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/SeatService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Reflection" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeatContract_GetSeats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeats" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_GetSeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeatsResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_GetSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_GetSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_AddSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_AddSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_AddSeat_EntityDoesNotExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions" name="detail" element="q1:EntityDoesNotExistException" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_AddSeat_SeatWithSameRowAndNumberInTheAreaExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q2:SeatWithSameRowAndNumberInTheAreaExistException" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_UpdateSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_UpdateSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_UpdateSeat_EntityDoesNotExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions" name="detail" element="q3:EntityDoesNotExistException" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_UpdateSeat_SeatWithSameRowAndNumberInTheAreaExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q4:SeatWithSameRowAndNumberInTheAreaExistException" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_DeleteSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatContract_DeleteSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeatResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeatContract">
    <wsdl:operation name="GetSeats">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatContract/GetSeats" message="tns:ISeatContract_GetSeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatContract/GetSeatsResponse" message="tns:ISeatContract_GetSeats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatContract/GetSeat" message="tns:ISeatContract_GetSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatContract/GetSeatResponse" message="tns:ISeatContract_GetSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatContract/AddSeat" message="tns:ISeatContract_AddSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatContract/AddSeatResponse" message="tns:ISeatContract_AddSeat_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISeatContract/AddSeatEntityDoesNotExistExceptionFault" name="EntityDoesNotExistExceptionFault" message="tns:ISeatContract_AddSeat_EntityDoesNotExistExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISeatContract/AddSeatSeatWithSameRowAndNumberInTheAreaExistExceptionFault" name="SeatWithSameRowAndNumberInTheAreaExistExceptionFault" message="tns:ISeatContract_AddSeat_SeatWithSameRowAndNumberInTheAreaExistExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatContract/UpdateSeat" message="tns:ISeatContract_UpdateSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatContract/UpdateSeatResponse" message="tns:ISeatContract_UpdateSeat_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISeatContract/UpdateSeatEntityDoesNotExistExceptionFault" name="EntityDoesNotExistExceptionFault" message="tns:ISeatContract_UpdateSeat_EntityDoesNotExistExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISeatContract/UpdateSeatSeatWithSameRowAndNumberInTheAreaExistExceptionFault" name="SeatWithSameRowAndNumberInTheAreaExistExceptionFault" message="tns:ISeatContract_UpdateSeat_SeatWithSameRowAndNumberInTheAreaExistExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatContract/DeleteSeat" message="tns:ISeatContract_DeleteSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatContract/DeleteSeatResponse" message="tns:ISeatContract_DeleteSeat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISeatContract" type="tns:ISeatContract">
    <wsp:PolicyReference URI="#WSHttpBinding_ISeatContract_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSeats">
      <soap12:operation soapAction="http://tempuri.org/ISeatContract/GetSeats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeat">
      <soap12:operation soapAction="http://tempuri.org/ISeatContract/GetSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSeat">
      <soap12:operation soapAction="http://tempuri.org/ISeatContract/AddSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityDoesNotExistExceptionFault">
        <soap12:fault use="literal" name="EntityDoesNotExistExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SeatWithSameRowAndNumberInTheAreaExistExceptionFault">
        <soap12:fault use="literal" name="SeatWithSameRowAndNumberInTheAreaExistExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSeat">
      <soap12:operation soapAction="http://tempuri.org/ISeatContract/UpdateSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityDoesNotExistExceptionFault">
        <soap12:fault use="literal" name="EntityDoesNotExistExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SeatWithSameRowAndNumberInTheAreaExistExceptionFault">
        <soap12:fault use="literal" name="SeatWithSameRowAndNumberInTheAreaExistExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteSeat">
      <soap12:operation soapAction="http://tempuri.org/ISeatContract/DeleteSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeatService">
    <wsdl:port name="WSHttpBinding_ISeatContract" binding="tns:WSHttpBinding_ISeatContract">
      <soap12:address location="https://localhost/TicketManagement.WcfService/Services/SeatService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost/TicketManagement.WcfService/Services/SeatService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>