TicketManagement/TicketManagement.Web/Connected Services/VenueService/VenueService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/VenueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" />
  <xs:element name="GetVenues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetVenuesResult" nillable="true" type="q1:ArrayOfVenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetVenueResult" nillable="true" type="q2:Venue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="entity" nillable="true" type="q3:Venue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVenueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="entity" nillable="true" type="q4:Venue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVenueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVenueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>