TicketManagement/TicketManagement.Web/Connected Services/VenueService/VenueService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/VenueService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions.Base" />
  <xs:complexType name="ArrayOfVenue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Venue" nillable="true" type="tns:Venue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenue" nillable="true" type="tns:ArrayOfVenue" />
  <xs:complexType name="Venue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venue" nillable="true" type="tns:Venue" />
  <xs:complexType name="VenueWithThisNameExistException">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions.Base" base="q1:WcfException">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VenueWithThisNameExistException" nillable="true" type="tns:VenueWithThisNameExistException" />
</xs:schema>