TicketManagement/TicketManagement.Web/Connected Services/EventService/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="eventWsHttpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions.Base" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Reflection" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventContract_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IEventContract_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventContract_GetEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvent" />
  </wsdl:message>
  <wsdl:message name="IEventContract_GetEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventContract_AddEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="IEventContract_AddEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventContract_AddEvent_EntityDoesNotExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions" name="detail" element="q1:EntityDoesNotExistException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_AddEvent_EventInPastExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q2:EventInPastException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_AddEvent_BeginDateLongerThenEndDateExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q3:BeginDateLongerThenEndDateException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_AddEvent_EventExistInTheLayoutInThisTimeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q4:EventExistInTheLayoutInThisTimeException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_AddEvent_LayoutHasNotAreaExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q5:LayoutHasNotAreaException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_AddEvent_LayoutHasNotSeatExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q6:LayoutHasNotSeatException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_UpdateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEvent" />
  </wsdl:message>
  <wsdl:message name="IEventContract_UpdateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventContract_UpdateEvent_LayoutHasSoldSeatAndCouldNotBeChangeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q7:LayoutHasSoldSeatAndCouldNotBeChangeException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_UpdateEvent_EntityDoesNotExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Exceptions" name="detail" element="q8:EntityDoesNotExistException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_UpdateEvent_EventInPastExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q9:EventInPastException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_UpdateEvent_BeginDateLongerThenEndDateExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q10:BeginDateLongerThenEndDateException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_UpdateEvent_EventExistInTheLayoutInThisTimeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q11:EventExistInTheLayoutInThisTimeException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_UpdateEvent_LayoutHasNotAreaExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q12:LayoutHasNotAreaException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_UpdateEvent_LayoutHasNotSeatExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q13:LayoutHasNotSeatException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_DeleteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="IEventContract_DeleteEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventContract_DeleteEvent_LayoutHasSoldSeatAndCouldNotBeChangeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q14:LayoutHasSoldSeatAndCouldNotBeChangeException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_PublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventContract_PublishEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventContract_PublishEvent_EventAlreadyPublishedExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q15:EventAlreadyPublishedException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_PublishEvent_SomeAreaHasNotPriceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" name="detail" element="q16:SomeAreaHasNotPriceException" />
  </wsdl:message>
  <wsdl:message name="IEventContract_GetPublishEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublishEvents" />
  </wsdl:message>
  <wsdl:message name="IEventContract_GetPublishEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublishEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventContract_GetAvailableSeatCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableSeatCount" />
  </wsdl:message>
  <wsdl:message name="IEventContract_GetAvailableSeatCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableSeatCountResponse" />
  </wsdl:message>
  <wsdl:message name="IEventContract_GetEventByEventSeatId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventByEventSeatId" />
  </wsdl:message>
  <wsdl:message name="IEventContract_GetEventByEventSeatId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventByEventSeatIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEventContract_GetEventsByEventSeatIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsByEventSeatIds" />
  </wsdl:message>
  <wsdl:message name="IEventContract_GetEventsByEventSeatIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsByEventSeatIdsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventContract">
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventContract/GetEvents" message="tns:IEventContract_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventContract/GetEventsResponse" message="tns:IEventContract_GetEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventContract/GetEvent" message="tns:IEventContract_GetEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventContract/GetEventResponse" message="tns:IEventContract_GetEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventContract/AddEvent" message="tns:IEventContract_AddEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventContract/AddEventResponse" message="tns:IEventContract_AddEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/AddEventEntityDoesNotExistExceptionFault" name="EntityDoesNotExistExceptionFault" message="tns:IEventContract_AddEvent_EntityDoesNotExistExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/AddEventEventInPastExceptionFault" name="EventInPastExceptionFault" message="tns:IEventContract_AddEvent_EventInPastExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/AddEventBeginDateLongerThenEndDateExceptionFault" name="BeginDateLongerThenEndDateExceptionFault" message="tns:IEventContract_AddEvent_BeginDateLongerThenEndDateExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/AddEventEventExistInTheLayoutInThisTimeExceptionFault" name="EventExistInTheLayoutInThisTimeExceptionFault" message="tns:IEventContract_AddEvent_EventExistInTheLayoutInThisTimeExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/AddEventLayoutHasNotAreaExceptionFault" name="LayoutHasNotAreaExceptionFault" message="tns:IEventContract_AddEvent_LayoutHasNotAreaExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/AddEventLayoutHasNotSeatExceptionFault" name="LayoutHasNotSeatExceptionFault" message="tns:IEventContract_AddEvent_LayoutHasNotSeatExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventContract/UpdateEvent" message="tns:IEventContract_UpdateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventContract/UpdateEventResponse" message="tns:IEventContract_UpdateEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/UpdateEventLayoutHasSoldSeatAndCouldNotBeChangeExceptionFault" name="LayoutHasSoldSeatAndCouldNotBeChangeExceptionFault" message="tns:IEventContract_UpdateEvent_LayoutHasSoldSeatAndCouldNotBeChangeExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/UpdateEventEntityDoesNotExistExceptionFault" name="EntityDoesNotExistExceptionFault" message="tns:IEventContract_UpdateEvent_EntityDoesNotExistExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/UpdateEventEventInPastExceptionFault" name="EventInPastExceptionFault" message="tns:IEventContract_UpdateEvent_EventInPastExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/UpdateEventBeginDateLongerThenEndDateExceptionFault" name="BeginDateLongerThenEndDateExceptionFault" message="tns:IEventContract_UpdateEvent_BeginDateLongerThenEndDateExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/UpdateEventEventExistInTheLayoutInThisTimeExceptionFault" name="EventExistInTheLayoutInThisTimeExceptionFault" message="tns:IEventContract_UpdateEvent_EventExistInTheLayoutInThisTimeExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/UpdateEventLayoutHasNotAreaExceptionFault" name="LayoutHasNotAreaExceptionFault" message="tns:IEventContract_UpdateEvent_LayoutHasNotAreaExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/UpdateEventLayoutHasNotSeatExceptionFault" name="LayoutHasNotSeatExceptionFault" message="tns:IEventContract_UpdateEvent_LayoutHasNotSeatExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventContract/DeleteEvent" message="tns:IEventContract_DeleteEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventContract/DeleteEventResponse" message="tns:IEventContract_DeleteEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/DeleteEventLayoutHasSoldSeatAndCouldNotBeChangeExceptionFault" name="LayoutHasSoldSeatAndCouldNotBeChangeExceptionFault" message="tns:IEventContract_DeleteEvent_LayoutHasSoldSeatAndCouldNotBeChangeExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventContract/PublishEvent" message="tns:IEventContract_PublishEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventContract/PublishEventResponse" message="tns:IEventContract_PublishEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/PublishEventEventAlreadyPublishedExceptionFault" name="EventAlreadyPublishedExceptionFault" message="tns:IEventContract_PublishEvent_EventAlreadyPublishedExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventContract/PublishEventSomeAreaHasNotPriceExceptionFault" name="SomeAreaHasNotPriceExceptionFault" message="tns:IEventContract_PublishEvent_SomeAreaHasNotPriceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublishEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventContract/GetPublishEvents" message="tns:IEventContract_GetPublishEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventContract/GetPublishEventsResponse" message="tns:IEventContract_GetPublishEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSeatCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventContract/GetAvailableSeatCount" message="tns:IEventContract_GetAvailableSeatCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventContract/GetAvailableSeatCountResponse" message="tns:IEventContract_GetAvailableSeatCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventByEventSeatId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventContract/GetEventByEventSeatId" message="tns:IEventContract_GetEventByEventSeatId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventContract/GetEventByEventSeatIdResponse" message="tns:IEventContract_GetEventByEventSeatId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsByEventSeatIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventContract/GetEventsByEventSeatIds" message="tns:IEventContract_GetEventsByEventSeatIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventContract/GetEventsByEventSeatIdsResponse" message="tns:IEventContract_GetEventsByEventSeatIds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eventWsHttpEndpoint" type="tns:IEventContract">
    <wsp:PolicyReference URI="#eventWsHttpEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEvents">
      <soap12:operation soapAction="http://tempuri.org/IEventContract/GetEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventContract/GetEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventContract/AddEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityDoesNotExistExceptionFault">
        <soap12:fault use="literal" name="EntityDoesNotExistExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EventInPastExceptionFault">
        <soap12:fault use="literal" name="EventInPastExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BeginDateLongerThenEndDateExceptionFault">
        <soap12:fault use="literal" name="BeginDateLongerThenEndDateExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EventExistInTheLayoutInThisTimeExceptionFault">
        <soap12:fault use="literal" name="EventExistInTheLayoutInThisTimeExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LayoutHasNotAreaExceptionFault">
        <soap12:fault use="literal" name="LayoutHasNotAreaExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LayoutHasNotSeatExceptionFault">
        <soap12:fault use="literal" name="LayoutHasNotSeatExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventContract/UpdateEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LayoutHasSoldSeatAndCouldNotBeChangeExceptionFault">
        <soap12:fault use="literal" name="LayoutHasSoldSeatAndCouldNotBeChangeExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EntityDoesNotExistExceptionFault">
        <soap12:fault use="literal" name="EntityDoesNotExistExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EventInPastExceptionFault">
        <soap12:fault use="literal" name="EventInPastExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BeginDateLongerThenEndDateExceptionFault">
        <soap12:fault use="literal" name="BeginDateLongerThenEndDateExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EventExistInTheLayoutInThisTimeExceptionFault">
        <soap12:fault use="literal" name="EventExistInTheLayoutInThisTimeExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LayoutHasNotAreaExceptionFault">
        <soap12:fault use="literal" name="LayoutHasNotAreaExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LayoutHasNotSeatExceptionFault">
        <soap12:fault use="literal" name="LayoutHasNotSeatExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventContract/DeleteEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LayoutHasSoldSeatAndCouldNotBeChangeExceptionFault">
        <soap12:fault use="literal" name="LayoutHasSoldSeatAndCouldNotBeChangeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventContract/PublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EventAlreadyPublishedExceptionFault">
        <soap12:fault use="literal" name="EventAlreadyPublishedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SomeAreaHasNotPriceExceptionFault">
        <soap12:fault use="literal" name="SomeAreaHasNotPriceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPublishEvents">
      <soap12:operation soapAction="http://tempuri.org/IEventContract/GetPublishEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSeatCount">
      <soap12:operation soapAction="http://tempuri.org/IEventContract/GetAvailableSeatCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventByEventSeatId">
      <soap12:operation soapAction="http://tempuri.org/IEventContract/GetEventByEventSeatId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsByEventSeatIds">
      <soap12:operation soapAction="http://tempuri.org/IEventContract/GetEventsByEventSeatIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="eventWsHttpEndpoint" binding="tns:eventWsHttpEndpoint">
      <soap12:address location="https://localhost/TicketManagement.WcfService/Services/EventService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost/TicketManagement.WcfService/Services/EventService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>