TicketManagement/TicketManagement.Web/Connected Services/EventAreaService/EventAreaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventAreaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" />
  <xs:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventAreaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetEventAreas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetEventAreasResult" nillable="true" type="q1:ArrayOfEventArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetEventAreaResult" nillable="true" type="q2:EventArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="entity" nillable="true" type="q3:EventArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventAreaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAreaCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seatId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAreaCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEventAreaCostResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAreasByEventSeatIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eventSeatIdArray" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAreasByEventSeatIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetEventAreasByEventSeatIdsResult" nillable="true" type="q5:ArrayOfEventArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAreasByEventId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventAreasByEventIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetEventAreasByEventIdResult" nillable="true" type="q6:ArrayOfEventArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>