TicketManagement/TicketManagement.Web/Connected Services/EventAreaService/EventAreaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEventArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventArea" nillable="true" type="tns:EventArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventArea" nillable="true" type="tns:ArrayOfEventArea" />
  <xs:complexType name="EventArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoordinateX" type="xs:int" />
      <xs:element minOccurs="0" name="CoordinateY" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventArea" nillable="true" type="tns:EventArea" />
</xs:schema>