TicketManagement/TicketManagement.Web/Connected Services/EventAreaService/EventAreaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventAreaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IEventAreaContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventAreaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventAreaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventAreaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventAreaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventAreaContract_GetEventAreas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventAreas" />
  </wsdl:message>
  <wsdl:message name="IEventAreaContract_GetEventAreas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventAreasResponse" />
  </wsdl:message>
  <wsdl:message name="IEventAreaContract_GetEventArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventArea" />
  </wsdl:message>
  <wsdl:message name="IEventAreaContract_GetEventArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IEventAreaContract_UpdateEventArea_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventArea" />
  </wsdl:message>
  <wsdl:message name="IEventAreaContract_UpdateEventArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IEventAreaContract_GetEventAreaCost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventAreaCost" />
  </wsdl:message>
  <wsdl:message name="IEventAreaContract_GetEventAreaCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventAreaCostResponse" />
  </wsdl:message>
  <wsdl:message name="IEventAreaContract_GetEventAreasByEventSeatIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventAreasByEventSeatIds" />
  </wsdl:message>
  <wsdl:message name="IEventAreaContract_GetEventAreasByEventSeatIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventAreasByEventSeatIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventAreaContract_GetEventAreasByEventId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventAreasByEventId" />
  </wsdl:message>
  <wsdl:message name="IEventAreaContract_GetEventAreasByEventId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventAreasByEventIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventAreaContract">
    <wsdl:operation name="GetEventAreas">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventAreaContract/GetEventAreas" message="tns:IEventAreaContract_GetEventAreas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventAreaContract/GetEventAreasResponse" message="tns:IEventAreaContract_GetEventAreas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventAreaContract/GetEventArea" message="tns:IEventAreaContract_GetEventArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventAreaContract/GetEventAreaResponse" message="tns:IEventAreaContract_GetEventArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEventArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventAreaContract/UpdateEventArea" message="tns:IEventAreaContract_UpdateEventArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventAreaContract/UpdateEventAreaResponse" message="tns:IEventAreaContract_UpdateEventArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventAreaCost">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventAreaContract/GetEventAreaCost" message="tns:IEventAreaContract_GetEventAreaCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventAreaContract/GetEventAreaCostResponse" message="tns:IEventAreaContract_GetEventAreaCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventAreasByEventSeatIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventAreaContract/GetEventAreasByEventSeatIds" message="tns:IEventAreaContract_GetEventAreasByEventSeatIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventAreaContract/GetEventAreasByEventSeatIdsResponse" message="tns:IEventAreaContract_GetEventAreasByEventSeatIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventAreasByEventId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventAreaContract/GetEventAreasByEventId" message="tns:IEventAreaContract_GetEventAreasByEventId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventAreaContract/GetEventAreasByEventIdResponse" message="tns:IEventAreaContract_GetEventAreasByEventId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IEventAreaContract" type="tns:IEventAreaContract">
    <wsp:PolicyReference URI="#WSHttpBinding_IEventAreaContract_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEventAreas">
      <soap12:operation soapAction="http://tempuri.org/IEventAreaContract/GetEventAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventArea">
      <soap12:operation soapAction="http://tempuri.org/IEventAreaContract/GetEventArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventArea">
      <soap12:operation soapAction="http://tempuri.org/IEventAreaContract/UpdateEventArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventAreaCost">
      <soap12:operation soapAction="http://tempuri.org/IEventAreaContract/GetEventAreaCost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventAreasByEventSeatIds">
      <soap12:operation soapAction="http://tempuri.org/IEventAreaContract/GetEventAreasByEventSeatIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventAreasByEventId">
      <soap12:operation soapAction="http://tempuri.org/IEventAreaContract/GetEventAreasByEventId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventAreaService">
    <wsdl:port name="WSHttpBinding_IEventAreaContract" binding="tns:WSHttpBinding_IEventAreaContract">
      <soap12:address location="https://localhost/TicketManagement.WcfService/Services/EventAreaService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost/TicketManagement.WcfService/Services/EventAreaService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>