TicketManagement/TicketManagement.Web/Connected Services/EventSeatService/EventSeatService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventSeatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" />
  <xs:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventSeatService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetEventSeats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventSeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetEventSeatsResult" nillable="true" type="q1:ArrayOfEventSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventSeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetEventSeatResult" nillable="true" type="q2:EventSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="entity" nillable="true" type="q3:EventSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventSeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventSeatsByEventSeatIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idArray" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventSeatsByEventSeatIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetEventSeatsByEventSeatIdsResult" nillable="true" type="q5:ArrayOfEventSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventSeatsByEventAreaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventAreaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventSeatsByEventAreaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" minOccurs="0" name="GetEventSeatsByEventAreaIdResult" nillable="true" type="q6:ArrayOfEventSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>