TicketManagement/TicketManagement.Web/Connected Services/EventSeatService/EventSeatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventSeatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IEventSeatContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventSeatService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventSeatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventSeatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.WcfService.Contracts" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventSeatService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TicketManagement.DAL.Constants" />
      <xsd:import schemaLocation="https://localhost/TicketManagement.WcfService/Services/EventSeatService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventSeatContract_GetEventSeats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventSeats" />
  </wsdl:message>
  <wsdl:message name="IEventSeatContract_GetEventSeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventSeatsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventSeatContract_GetEventSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventSeat" />
  </wsdl:message>
  <wsdl:message name="IEventSeatContract_GetEventSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventSeatResponse" />
  </wsdl:message>
  <wsdl:message name="IEventSeatContract_UpdateEventSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventSeat" />
  </wsdl:message>
  <wsdl:message name="IEventSeatContract_UpdateEventSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventSeatResponse" />
  </wsdl:message>
  <wsdl:message name="IEventSeatContract_GetEventSeatsByEventSeatIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventSeatsByEventSeatIds" />
  </wsdl:message>
  <wsdl:message name="IEventSeatContract_GetEventSeatsByEventSeatIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventSeatsByEventSeatIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventSeatContract_GetEventSeatsByEventAreaId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventSeatsByEventAreaId" />
  </wsdl:message>
  <wsdl:message name="IEventSeatContract_GetEventSeatsByEventAreaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventSeatsByEventAreaIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventSeatContract">
    <wsdl:operation name="GetEventSeats">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventSeatContract/GetEventSeats" message="tns:IEventSeatContract_GetEventSeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSeatContract/GetEventSeatsResponse" message="tns:IEventSeatContract_GetEventSeats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventSeatContract/GetEventSeat" message="tns:IEventSeatContract_GetEventSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSeatContract/GetEventSeatResponse" message="tns:IEventSeatContract_GetEventSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEventSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventSeatContract/UpdateEventSeat" message="tns:IEventSeatContract_UpdateEventSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSeatContract/UpdateEventSeatResponse" message="tns:IEventSeatContract_UpdateEventSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventSeatsByEventSeatIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventSeatContract/GetEventSeatsByEventSeatIds" message="tns:IEventSeatContract_GetEventSeatsByEventSeatIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSeatContract/GetEventSeatsByEventSeatIdsResponse" message="tns:IEventSeatContract_GetEventSeatsByEventSeatIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventSeatsByEventAreaId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventSeatContract/GetEventSeatsByEventAreaId" message="tns:IEventSeatContract_GetEventSeatsByEventAreaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSeatContract/GetEventSeatsByEventAreaIdResponse" message="tns:IEventSeatContract_GetEventSeatsByEventAreaId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IEventSeatContract" type="tns:IEventSeatContract">
    <wsp:PolicyReference URI="#WSHttpBinding_IEventSeatContract_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEventSeats">
      <soap12:operation soapAction="http://tempuri.org/IEventSeatContract/GetEventSeats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventSeat">
      <soap12:operation soapAction="http://tempuri.org/IEventSeatContract/GetEventSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventSeat">
      <soap12:operation soapAction="http://tempuri.org/IEventSeatContract/UpdateEventSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventSeatsByEventSeatIds">
      <soap12:operation soapAction="http://tempuri.org/IEventSeatContract/GetEventSeatsByEventSeatIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventSeatsByEventAreaId">
      <soap12:operation soapAction="http://tempuri.org/IEventSeatContract/GetEventSeatsByEventAreaId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventSeatService">
    <wsdl:port name="WSHttpBinding_IEventSeatContract" binding="tns:WSHttpBinding_IEventSeatContract">
      <soap12:address location="https://localhost/TicketManagement.WcfService/Services/EventSeatService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost/TicketManagement.WcfService/Services/EventSeatService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>